/* Change the footnote return icon */

.data-footnote-backref {
  display: inline-block !important;
  font-size: 0 !important; /* Hides the default ↩ icon */
  text-decoration: none !important;
}


/* 
.data-footnote-backref::after {
  content: "↑" !important;
  font-size: 1rem !important;
  margin-left: 0.25rem;
}
*/


/* Reveal the hidden "Footnotes" heading */
h2#footnote-label {
  width: auto;
  height: auto;
  position: static;
  clip: auto;
  margin-top: 0rem; /* Adjust this to control the gap above the line */
}