/* Change the footnote return icon */

.data-footnote-backref {
  display: inline-block !important;
  font-size: 0 !important; /* Hides the default ↩ icon */
  text-decoration: none !important;
}



/* Change the default icon */
/* 
.data-footnote-backref::after {
  content: "↑" !important;
  font-size: 1rem !important;
  margin-left: 0.25rem;
}
*/



/* Reveal the hidden "Footnotes" heading */
h2#footnote-label {
  width: auto;
  height: 1.5rem;
  position: static;
  clip: auto;
  margin-top: 0rem; /* Adjust this to control the gap above the line */
}

h2#footnote-label > a {
  position: absolute;
  left: 0;
  padding-right: 0.5rem;
}