/* Change the footnote return icon */

.data-footnote-backref {
  display: inline-block !important;
  font-size: 0 !important; /* Hides the default ↩ icon */
  text-decoration: none !important;
}



/* Change the default icon */
/* 
.data-footnote-backref::after {
  content: "↑" !important;
  font-size: 1rem !important;
  margin-left: 0.25rem;
}
*/



/* Reveal the hidden "Footnotes" heading */
h2#footnote-label.sr-only {
  width: auto;
  height: 1.5rem;
  position: static;
  clip: auto;
  margin-top: 0rem; /* Adjust this to control the gap above the line */
}


/* hide the paperclip icon for Footnotes, since it is positioned over the word Footnotes */
h2#footnote-label.sr-only > a {
  display: none;
}